# Terraform
.terraform/
*.tfstate
*.tfstate.backup
crash.log
override.tf
override.tf.json
terraform.tfvars

# AWS 憑證文件
*.pem

# Docker
*.env
docker-compose.override.yml

# Gradle
.gradle/
build/

# Logs
*.log

# 系統檔案
.DS_Store
Thumbs.db
